.container-texto {
    color: white;
    padding: 1rem;
    width: 100%;
    text-align: center;

    h2{
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
}


.contacto-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    color: white;
}

.contacto-tarjeta {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.tarjeta-items{
    display: flex;
    gap: 1rem;
}