.habilidades-container {
    color: white;
    padding: 1rem;
    width: 100%;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    gap: 1rem;

    h1{
        font-size: 2.2rem;
        margin-bottom: 1rem;
    }

    p{
        font-size: 1rem;
        margin-bottom: 1rem;
        text-align: left;
    }
}

.tecnologias-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.tarjeta-tecnologia{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    transition: background-color 0.3s, transform 0.3s;

    &:hover{
        transform: translateY(-2px);
        color: #FFC402;
        .tecnologia-icon{
            color: #FFC402;
        }
    }
}

.tecnologia{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255, 0.1);
}

.tecnologia-icon{
    width: 50px;
    height: 50px;
    color: white;
}