.proyectos-container {
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    gap: 2rem;
    color: white;
}