.perfil-container {
    width: 100%;
    height: auto;
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 15px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: white;
}

h1 {
    font-size: 2rem;
    text-align: center;
}

.foto-perfil {
    width: 200px;
    height: 200px;
    background-color: salmon;
    border-radius: 50%;
}

.btn-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.redes{
    width: auto;
    color: #020031;
    background-color: slateblue;
    padding: 10px;
    border-radius: 15px;
}

.btn-cv {
    width: auto;
    color: #020031;
    background-color: #FFC402;
    padding: 10px;
    border-radius: 15px;
}